$background_gradient_primary: linear-gradient(40deg,#45cafc,#303f9f);
$background_gradient_default: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
$background_gradient_secondary: linear-gradient(40deg,#ff6ec4,#7873f5);
$background_gradient_success: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$background_gradient_danger: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
$background_gradient_warning: linear-gradient(40deg,#ffd86f,#fc6262);

$background_gradient_inactive: linear-gradient(61deg, rgba(213,210,210,1) 0%, rgba(119,118,118,1) 100%);;

$nav_background_gradient: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(87,87,87,1) 100%);
$nav_background: rgb(33,33,33);
$nav_text_color: white;


@mixin nav-style {
  background: $nav_background;
  background: $nav_background_gradient;
  color: $nav_text_color;

}


